<section class="container">
	<div class="jumbotron text-center">
		<fieldset>
            <legend class="text-center"><b>LISTADO DE RESERVAS</b></legend>
            <div class="col-md-3">
                <td><a class="btn btn-primary" ng-href="#bookings/create">Añadir reserva</a></td> 
                <hr>
                <div class="panel panel-primary row"> 
                    <!-- Panel de búsqueda -->
                    <div style="padding:10px;">
                         <!-- Buscador --> 
                         <div class="form-group">
                            <label for="search">Buscar por id</label>
                            <input ng-model="vm.client_id" id="client_id" placeholder="Insert Client Id" class="form-control"> 
                        </div>                        
                        <button class="btn btn-warning col-md-offset-7" ng-click="vm.search()">
                            <span class="glyphicon glyphicon-search"></span> Buscar
                        </button> 
                    </div>
                    <!-- Panel de resultados sin búsqueda-->
                    <div ng-if="!!vm.data2" class="panel panel-primary" style="padding:10px; margin:10px;">
                        <b>Client ID:</b> {{client.dni}} <br>
                        <b>Client DNI:</b> <br>
                   </div>
                    <div class="no-data" ng-if="vm.data2.length === 0">
                       <div class="panel-body"> No Clients Found </div>
                    </div>
                </div> 
            </div> 
                
            <!-- Panel de resultados con búsqueda-->
            <div class="panel panel-primary table-responsive col-md-8 col-md-offset-1">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Bungalow</th>
                            <th>Cliente</th>
                            <th>Entrada</th>
                            <th>Salida</th>
                            <th>Precio total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-init="vm.listBookings()">
                        <tr ng-repeat="booking in vm.data">
                            <td>{{booking.id}}</td>
                            <td>{{booking.bungalow}}</td>
                            <td>{{booking.client.name}}</td>
                            <td>{{booking.arrivalDate | date:'dd/MM/yyyy' }}</td>
                            <td>{{booking.departureDate | date:'dd/MM/yyyy' }}</td>
                            <td>{{booking.totalPrice}}€</td>
                           <td><a class="btn btn-primary" ng-href="#bookings/modify/{{booking.id}}">Modificar</a></td>
                        </tr>
                    </tbody>
                </table>  
                <div class="no-data" ng-if="vm.data.length === 0">
                    <div class="panel-body"> No Bookings Found </div>
                </div>
            </div>
        </fieldset>
    </div>
</section>
