<section class="container">
	<div class="jumbotron text-center">
		<fieldset>
			<legend>PLANNING</legend>
            <div class="col-md-12">
                <div class="panel panel-primary row"> 
                    <div style="padding:10px;">
                        <b>Seleccione el mes</b>
                        <div class="form-group">
                            <label class="control-label col-sm-1" for="month"> Mes </label>
                            <select class="col-md-2" name="month" ng-model="vm.month" required>
								<option value="01">Enero</option>
								<option value="02">Febrero</option>
								<option value="03">Marzo</option>
								<option value="04">Abril</option>
								<option value="05" selected>Mayo</option>
								<option value="06">Junio</option>
								<option value="07">Julio</option>
								<option value="08">Agosto</option>
								<option value="09">Septiembre</option>
								<option value="10">Octubre</option>    
								<option value="11">Noviembre</option>
								<option value="12">Diciembre</option>                                     
                            </select>
                            <label class="control-label col-sm-1" for="year"> Año </label>
                            <select class="col-md-2" name="year" ng-model="vm.year" required>
                                <option value="2017" selected>2017</option>
                            </select>
							<button class="btn btn-warning" ng-click="vm.showPlanning()">
							    <span class="glyphicon glyphicon-search"></span> Buscar
							</button> 
                        </div>
                    </div>
                    <!-- Panel de resultados sin búsqueda ng-if="!!vm.plan"-->
                    <div class="panel panel-primary" ng-init="vm.getBungalows()" style="padding:10px; margin:10px;">
                        <table style="border:solid 1px black">
                            <thead>
                                <tr>
                                    <th style="border:solid 1px black; width:25px;">BUNGALOW</th>
                                    <th style="border:solid 1px black; width:30px;" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]">{{i}}</th> 
                                </tr>
                            </thead>
                            <tbody style="border:solid 1px black" ng-repeat="booking in vm.plan">
                                <tr ng-switch="booking.arrivalDate | date:'d'">
                                    <td>{{booking.bungalow.number}}</td>                                    
                                    <td>FUCK IT</td>
                                </tr>
                            </tbody>
                        </table>  
                    </div>
                    <div class="no-data" ng-if="vm.plan.length === 0">
                       <div class="panel-body"> No Plan Found </div>
                    </div>
                </div>
            </div>
		</fieldset>
	</div>
</section>
