<!-- Datepicker -->    
<script src="assets/js/datepicker.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="assets/js/custom.js"></script>
    
<section class="container">
    <div class="jumbotron">
        <fieldset>
            <legend class="text-center"><b>BUSQUEDA RESERVAS POR FECHA</b></legend>
            <div class="col-md-12">
                <div class="panel panel-primary row"> 
                    <div style="padding:10px;"><b>Introduzca dos fechas y obtendrá todas las reservas dentro de esas fechas.</b></div>
                    <!-- Panel de búsqueda -->
                    <div style="padding:10px;">
                         <!-- Buscador --> 
                        <div class="form-group">
                            <label for="Arrival">Llegada</label>
                            <input ng-model="vm.arrival" id="arrival" placeholder="Insert arrival here" class="form-control">
                        </div>     
                         <div class="form-group">
                            <label for="Departure">Salida</label>
                            <input ng-model="vm.departure" id="departure" placeholder="Insert departure here" class="form-control">
                        </div>                      
                        <button class="btn btn-warning col-md-offset-5" ng-click="vm.search()">
                            <span class="glyphicon glyphicon-search"></span> Buscar
                        </button> 
                    </div>
                    <!-- Panel de resultados sin búsqueda-->
                    <div ng-if="!!vm.data2" class="panel panel-primary" style="padding:10px; margin:10px;">
	                    <table class="table table-striped">
		                    <thead>
		                        <tr>
		                            <th>ID</th>
		                            <th>Bungalow</th>
		                            <th>Cliente</th>
		                            <th>Entrada</th>
		                            <th>Salida</th>
		                            <th></th>
		                        </tr>
		                    </thead>
		                    <tbody>
		                        <tr ng-repeat="booking in vm.data2">
		                            <td>{{booking.id}}</td>
		                            <td>{{booking.bungalow.number}}</td>
		                            <td>{{booking.client.name}}</td>
		                            <td>{{booking.arrivalDate | date:'dd/MM/yyyy'}}</td>
		                            <td>{{booking.departureDate | date:'dd/MM/yyyy'}}</td>
		                           <td></td>
		                        </tr>
		                    </tbody>
	                    </table>  
                    </div>
                    <div class="no-data" ng-if="vm.data2.length === 0">
                       <div class="panel-body"> No Bookings Found </div>
                    </div>
                </div>
            </div> 
        </fieldset>
        <hr>
        <fieldset>
            <legend class="text-center"><b>BUSQUEDA BUNGALOWS LIBRES POR FECHA</b></legend>
            <div class="col-md-12">
                <div class="panel panel-primary row"> 
                    <div style="padding:10px;"><b>Introduzca dos fechas y obtendrá todas los bungalow libres.</b></div>
                    <!-- Panel de búsqueda -->
                    <div style="padding:10px;">
                         <!-- Buscador --> 
                        <div class="form-group">
                            <label for="Arrival">Llegada</label>
                            <input ng-model="vm.arrivalB" id="arrivalb" placeholder="Insert arrival here" class="form-control">
                        </div>     
                         <div class="form-group">
                            <label for="Departure">Salida</label>
                            <input ng-model="vm.departureB" id="departureb" placeholder="Insert departure here" class="form-control">
                        </div>                      
                        <button class="btn btn-warning col-md-offset-5" ng-click="vm.searchByBungalow()">
                            <span class="glyphicon glyphicon-search"></span> Buscar
                        </button> 
                    </div>
                    <!-- Panel de resultados sin búsqueda-->
                    <div ng-if="!!vm.resBungalow" class="panel panel-primary" style="padding:10px; margin:10px;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Bungalow</th>
                                    <th>Precio/noche</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="bungalow in vm.resBungalow">
                                    <td>{{bungalow.id}}</td>
                                    <td>{{bungalow.number}}</td>
                                    <td>{{bungalow.pricePerNight}}</td>
                                   <td></td>
                                </tr>
                            </tbody>
                        </table>  
                    </div>
                    <div class="no-data" ng-if="vm.resBungalow.length === 0">
                       <div class="panel-body"> No Available Bungalows Found </div>
                    </div>
                </div>
            </div> 
        </fieldset>
    </div>			 
</section> 